body {
	background: #F3D8C7;
}
div {
	margin-top: 0px;
}

input[type=text] {
	border-width: 2px;
	padding: 4px;
	text-align: center;
	margin: auto;
	border-radius: 12px;
	margin-top: 50px;
	overflow: hidden;
	background-color: #F3D8C7;
	border-color: #00e673;
	color: #695848;
	font-weight: bold;
	font-family: sans-serif;
	box-shadow:inset 2px 0px 5px 0px rgba(42,42,42,.75)
}

input[type=text]:focus {
	outline:none;
}

button.numbers,  
input[type=button] {
	-moz-box-shadow:inset 0px 1px 0px 0px #caefab;
	-webkit-box-shadow:inset 0px 1px 0px 0px #caefab;
	box-shadow:inset 0px 1px 0px 0px #caefab;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #77d42a), color-stop(1, #5cb811));
	background:-moz-linear-gradient(top, #77d42a 5%, #5cb811 100%);
	background:-webkit-linear-gradient(top, #77d42a 5%, #5cb811 100%);
	background:-o-linear-gradient(top, #77d42a 5%, #5cb811 100%);
	background:-ms-linear-gradient(top, #77d42a 5%, #5cb811 100%);
	background:linear-gradient(to bottom, #77d42a 5%, #5cb811 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#77d42a', endColorstr='#5cb811',GradientType=0);
	background-color:#77d42a;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #268a16;
	display:inline-block;
	cursor:pointer;
	color:#306108;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #aade7c;
	margin: 7px;
}

button.numbers:hover,
input[type=button]:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #5cb811), color-stop(1, #77d42a));
	background:-moz-linear-gradient(top, #5cb811 5%, #77d42a 100%);
	background:-webkit-linear-gradient(top, #5cb811 5%, #77d42a 100%);
	background:-o-linear-gradient(top, #5cb811 5%, #77d42a 100%);
	background:-ms-linear-gradient(top, #5cb811 5%, #77d42a 100%);
	background:linear-gradient(to bottom, #5cb811 5%, #77d42a 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5cb811', endColorstr='#77d42a',GradientType=0);
	background-color:#5cb811;
}

button.numbers:active,
input[type=button]:active {
	position:relative;
	top:1px;
}

.container {
	position: relative;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: auto;
	width: 300px;
	height: 500px;
}

.calculator {
	width: 350px;
	height: 450px;
	background-color: #99ffcc;
	border-radius: 50px;
	border-color:  #00e673;
	border-width: 2px;
	border-style: solid;
}

.buttons {
	margin-top: 35px;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    30% {
    	opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.eyes {
	animation: blink 1s;
	animation-iteration-count: 1;
}
.eye1 {
  height: 15px;
  width: 15px;
  background: #695848;
  border-radius: 100%;
  bottom: 100px;
  left: 100px;
  position: absolute;
  
}

.eye2 {
	height: 15px;
	width: 15px;
	background: #695848;
	border-radius: 100%;
	bottom: 100px;
	right: 30px;
	position: absolute;
}

.blush1 {
	height: 8px;
	width: 20px;
	bottom: -10px;
	left: -205px;
	border-radius: 100%;
	background: #ff80bb;
	position: absolute;
}

.blush2 {

	height: 8px;
	width: 20px;
	bottom: 2px;
	left: 248px;
	border-radius: 100%;
	background: #ff80bb;
	position: absolute;

}

.mouth {
	width: 30px;
	height: 2px;
	background: #695848;
	border-radius: 50%;
	left: 119px;
	position: absolute;
}

#operator {
	width: 20px;
}




